
@import url('../../styles/_reset.scss');


.header{
    background-color: #343038;

    &__container{
        max-width: 1430px;
        margin: 0 auto;
        padding: 35px;
    }

    &__nav{
        display: flex;
        column-gap: 55px;
    }

    &__link{
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    & .active{
        color: #fff;
        
    }
}