


.taskBoard{
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    border: 2px solid black;
    padding: 15px;

    & div{
        padding: 12px;
        border: 2px dotted black;


        ul{
            display: flex;
            flex-direction: column;
            row-gap: 10px;


            
        }
    }
}

.createTaskBoard{
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    border: 3px dotted black;
    align-items: center;
    padding: 10px;
    button{
        max-width: 100px;
    }
}